@charset "UTF-8";

@media print {
    body {
        background-image: url("../imagens/back-print.jpg");
    }
    header {
        border: 1px solid black;
        width: 100vw;
        border-radius: 10px;
    }
    main {
        border: 1px solid black;
        width: 100vw;
    }
    img#telefone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#impressora {
        display: block;
    }

    img#computador {
        display: none;
    }

    img#tv {
        display: none;
    }
}