@charset "UTF-8";

@media screen and (min-width: 1200px) {
    body {
        background-image: url("../imagens/back-tv.jpg");
    }
    img#telefone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#impressora {
        display: none;
    }

    img#computador {
        display: none;
    }

    img#tv {
        display: block;
    }
}