@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

body {
    font-family: 'Fredericka the Great', serif;
    font-weight: normal;
    background-color:#bba006b4;
    text-align: center;
}

h1, h2 { 
    font-family: 'Yatra One';
    color: #F24C00;
    text-align: center;
}
p {
    text-align: left;
}
main {
    background-color: #FFFBFF;
    width: 600px;
    margin: auto;
    border-radius: 20px;
}
