@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@300;400;500;600;700;800;900 & display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 150px;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
    
}
header h2 {
    font-weight: 800;
}
.logo {
    font-size: 4em;
    color: #359381;
    pointer-events: none;
    margin-right: 400px;
    
}
.navegacao a {
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0px 10px;
    font-weight: 600;
    font-size: 1.4em;
    transition: 0.5s;
}
.navegacao a:hover, .navegacao a.ativado {
    background-color: #359381;
    color: white;
}
.parallax {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    transition: 1s;
}
#texto {
    position: absolute;
    color: white;
    font-size: 6.5em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.452); 
    transition: 1s;
}
.secundario {
    position: relative;
    background-color: #003329;
    padding: 100px;
    color: white;
    transition: 1s;
}
